USE [master]
GO
/****** Object:  Database [CadSystemDB]    Script Date: 12/10/2024 13:33:09 ******/
CREATE DATABASE [CadSystemDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CadSystemDB', FILENAME = N'D:\SQLServer\MSSQL16.SQLEXPRESS\MSSQL\DATA\CadSystemDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'CadSystemDB_log', FILENAME = N'D:\SQLServer\MSSQL16.SQLEXPRESS\MSSQL\DATA\CadSystemDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CadSystemDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CadSystemDB]
GO
/****** Object:  User [admin]    Script Date: 12/10/2024 13:33:10 ******/
CREATE USER [admin] FOR LOGIN [admin] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [admin]
GO
/****** Object:  Table [dbo].[cidade]    Script Date: 12/10/2024 13:33:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cidade](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nome] [char](20) NOT NULL,
	[uf] [int] NOT NULL,
 CONSTRAINT [PK_cidade] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[cliente]    Script Date: 12/10/2024 13:33:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cliente](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nome] [char](20) NOT NULL,
	[cpf] [char](20) NOT NULL,
	[endereco] [char](20) NOT NULL,
	[uf] [int] NOT NULL,
	[cidade] [int] NOT NULL,
	[ativo] [bit] NOT NULL,
	[idCorretor] [int] NOT NULL,
 CONSTRAINT [PK_cliente] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[corretor]    Script Date: 12/10/2024 13:33:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[corretor](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[codigo] [char](20) NOT NULL,
	[nome] [char](20) NOT NULL,
	[cpf] [char](20) NOT NULL,
 CONSTRAINT [PK_corretor] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[uf]    Script Date: 12/10/2024 13:33:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[uf](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nome] [char](20) NOT NULL,
 CONSTRAINT [PK_uf] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
